/* Add here all your CSS customizations */

body{
    font-size: 17px;
    background-color: #fff;
}
.large{font-size: 21px;}
.small{font-size: 13px;}
a{
    color: #ff9800
}
h3{margin-bottom: 0;}
.small{font-size: 12px;}

.btn-primary{
    background-color: #2f343c !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}
.fa{color:#ff9800;}

/*nav*/
#header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a{
    background-color: #ff9800;
}
ul.nav-pills > li.active > a{
    background-color: #ff9800;
}
/*carousel begin*/
.main-label{color: #fff !important;}
.bottom-me{
    color:#2f343c;
    font-weight: bolder;
    font-size: 25px;
}
.slider.rev_slider{background-color: #ff9800;}
.slider-container .tp-caption-overlay-opacity{
    background-color: #fff;
}
/*carousel end*/

/*stages*/
.steps{
    background-color: #fff;
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
}

/*#step-1{
    padding: 40px;
    background-color: #fff;
    border-bottom: 1px groove #bada55;
}*/

.step-number{
    color: #ff9800;
    font-size: 70px;
    text-align: right;
    margin-top: 10px;
}
.step-title{
    color: #ff9800;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 10px;
}
.step-description{
    color: #2f343c;
}

#step-2,.step-3{
    background-color: #fff;
}
#step-2 .step-number,.step-3 .step-number{
    margin-top: 120px;
}
#step-2 .step-title,.step-3 .step-title{
    margin: 100px 0 10px;
    white-space: nowrap;
}

#step2img{
    background-image: url("../img/get.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
#step1img{
    background-image: url("../img/identify.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
#step3img{
    background-image: url("../img/Relax.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
/*End steps*/
/*counter*/
#counters{
    color: #fff;
    background-color: #2f343c;
    padding: 15px;
}
#counters p{color: #ff9800;}
.inverted{background-color: #ff9800;}
.motorzois{
    padding:20px 2px;
    background-color: #2f343c;
}
.motorzois p{color: #fff;}
.padding{
    background-color: #ff9800;
    color: #fff!important;
    padding: 20px;
}
#about{
    background: transparent;
}
section.section.section-with-mockup{
    margin: 0;
}
section.section{
    border: none;
    background-color: #fff;
    margin: 0;
}
section.section.rmpad{padding: 0;}
#map{height: 500px;}
section.section.map{margin: 0;padding: 0;}
.feature-box.feature-box-style-2 h4{color: #ff9800;}
footer h4, footer a{
    color: #ff9800 !important;
}
#footer p{color: #fff;}
#footer{
    background-color: #2f343c!important;
    border-top: none;
    margin-top: 0;
}
.footer-copyright{
    background-color: #222 !important;
    border-top: none!important;
}
blockquote{border-color:#ff9800;}
.clients h2, .clients p,.clients p strong {color: #fff !important;}

.slider .tp-bannertimer {
    background-color: #2f343c;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #ff9800;
}
.list.list-icons.list-icons-style-3 li .fa, .list.list-icons.list-icons-style-3 li .icons{
    background-color: #ff9800;
}
.thumb-info .thumb-info-type,.thumb-info-social-icons a{
    background-color: #ff9800;
}
#booknow{
    text-align: center;
    background-color: #111;
    width: 130px;
    height: 30px;
    position: fixed;
    top: 250px;
    left: 0;
    z-index: 9999;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    margin-left: -50px;
}
#booknow:hover{
    cursor: pointer;
    background-color: #f05d05;
}
#booknow h4{
    color:#fff;
}
#header .header-top{
    background-color: #2f343c;
}
.page-header{
    background-color: #2f343c;
}


/*stages*/

.stage-down{
    margin-top: 120px;
}
.stage-number{
    line-height: 1;
    font-size: 70px;
    color: #ff9800;
}
.stage-title{
    color: #ff9800;
    margin-bottom: 10px;
}
.stage-description{
    margin-bottom: 30px;
}
.image{
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
}